@import "tailwindcss";

@font-face {
  font-family: lausanneLight;
  src: url('../font/Lausanne-300.woff2');
}

@font-face {
  font-family: lausanneMedium;
  src: url('../font/Lausanne-500.woff2');
}

body{
  background-color: black;
  color: white;
}