@import "tailwindcss";

@font-face {
  font-family: "lausanneLight";
  src: url("/fonts/Lausanne-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lausanneMedium";
  src: url("/fonts/Lausanne-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: white;
  color: white;
}
